@model IEnumerable<BigSchool_VoDucLoi.Models.Course>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
        <ul>
            @foreach(var course in Model)
            {
                <li>
                    @course.DateTime- @course.Lecturer.Name
                </li>
            }
        </ul>
    <ul class="course">
        @foreach (var cource in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @cource.DateTime.ToString("MM")

                    </div>
                    <div class="day">
                        @cource.DateTime.ToString("dd")

                    </div>

                </div>
                <div class="details">
                    <span class="lecturer">
                        @cource.Lecturer.Name
                        <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@cource.LecturerId">Follow</button>
                    </span>
                    <span class="category">
                        @cource.Category.Name
                    </span>
                <button data-course-id="@cource.Id" class="btn btn-default btn-sm js-toggle-attendance " >Going?</button>
                </div>
            </li>
        }
    </ul>

    @section scripts {
            <script>
                $(document).ready(function () {
                    $("js-toggle-attendance").click(function (e) {
                        var button = $(e.target);
                        $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                            .done(function () {
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going?");
                            })
                        .fail(function () {
                            alert("Something failed!");
                        });
                    });

                    $(".js-toggle-follow").click(function (e) {
                        var button = $(e.target);
                        $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something dailed")
                        });
                    });

                });
            </script>
        }
</div>
